/* button */

    .button{display: flex;justify-content:center;align-items:center;min-height: 44px;padding: 5px 5px;background-color: #f26522;font-weight: 700;font-size: 23px;color:#fff;border:none;cursor:pointer;text-decoration: none!important;transition:background-color 300ms ease;
        &:hover{background-color: #c40707;}
    }

/* /button */

/* header */

    .header{
        .header-top{background-color:#72736D;background-image:url(../images/header-background.jpg);background-repeat: no-repeat;background-position: center bottom;padding: 0 18px;
            .header-top-wrap{display: flex;justify-content:space-between;flex-wrap:wrap;align-items:flex-end;padding: 25px 0 10px 0;
                .header-logo{max-width: 320px;width: 100%;}
                .header-connect{max-width: 320px;width: 100%;text-align: right;
                    .header-telefone{color:#fff;font-style: 17px;margin-bottom: 12px;}
                }
            }
        }
        .header-bottom{padding: 15px 18px 15px 18px;background-color: #000;text-align: center;font-size: 18px;line-height:22px;color:#fff;}
    }

/* /header */

/* footer */

    .footer{background-color: #e7e8e9;
        .footer-wrap{width: calc(100% - 105px);padding-bottom: 55px;
            .footer-main{max-width: 430px;width: 100%;display: flex;flex-wrap:wrap;justify-content:flex-end;padding-top: 30px;
                .footer-content{max-width: 330px;width: 100%;text-align: center;margin-bottom: 25px;
                    .footer-text{font-size:15px;color:#4d4d4f;margin-bottom: 10px;}
                }
                .footer-socials{width: 100%;display: flex;flex-wrap:wrap;align-items:center;justify-content:space-between;
                    .footer-socials-text{font-size: 15px;color:#4d4d4f;}
                    .footer-socials-items{width: calc(100% - 95px);text-align: center;
                        a{text-decoration: none;display: inline-block;vertical-align: middle;border-radius: 10px;border: 2px solid transparent;background-color:transparent;transition:background-color 300ms ease, border-color 300ms ease;
                            &:hover{border-color: #f26522;background-color: #f26522;}
                        }
                    }
                }
            }
            .go-top-button{position: absolute;right:-100px;bottom:0;width: 100px;background-color: #e1e1e1;padding: 25px 0 15px 0;text-align: center;cursor:pointer;transition:background-color 300ms ease;
                .go-top-text{font-size: 17px;color:#fff;padding-top: 25px;}
                &:hover{background-color: #f26622;}
            }
        }
    }

/* /footer */

/* blog */

    .blog{background-color:#e7e8e9;padding-top: 25px;position: relative;
        .mbox{position: static;}
        .news-wrap{margin:0 -9px;display:flex;flex-wrap:wrap;align-items:flex-start;
            .item-wrap{cursor: pointer;}
            .news-item{width: calc(33.33% - 18px);margin:0 9px 25px 9px;background-color: #fff;transition:margin 500ms ease;
                .img{display: flex;justify-content:center;align-items:center;height: 184px;
                    img{max-height: 100%;}
                }
                .news-text{padding: 8px 8px 0px 8px;min-height: 160px;
                    h6{min-height: 60px;font-weight: 500;font-size:18px;line-height:20px;color:#4d4d4f;margin-bottom: 3px;}
                    .news-text-wrap{font-family:'Proxima Nova', sans-serif;font-size:13px;line-height:16px;color:#4d4d4f;}
                }
                .news-footer{padding: 8px 8px 8px 8px;display: flex;justify-content:space-between;flex-wrap:wrap;align-items:center;font-family:'Proxima Nova', sans-serif;color:#838383;font-size:11px;
                    .news-footer-left{display:flex;}

                    .footer-info{display: flex;align-items:center;margin-right: 7px;
                        &:last-child{margin-right: 0;}
                        .footer-info-text{margin-right: 5px;}
                    }

                    .likes-info{
                        .likes-img{
                            img{max-width: 15px;}
                        }
                    }
                    .messages-info{
                        .messages-img{
                            img{max-width: 20px;}
                        }
                    }
                    .retwite-info{
                        .retwite-img{max-width: 21px;}
                    }

                }
            }
        }
    }

    .blog-main{width: 100%;position: absolute;left:0;overflow:hidden;height:0;padding-top:20px;transition:height 500ms ease;
        &:before{content:'';display: block;position: absolute;left:calc(50% - 39px);top:calc(50% - 29px);background-image:url(../images/ring.gif);width: 78px;height: 78px;background-repeat: no-repeat;opacity: 0;z-index:1;transition:opacity 500ms ease;}
        .blog-wrap{padding: 30px 0;background-color: #fff;position: relative;min-height: 200px;
            .mbox{position:relative;}
            .blog-arrow{display: block;width: 0;height: 0;border-width: 0px 12px 14px 12px;border-style:solid;border-color:transparent transparent #fff transparent;position: absolute;top:0;transition:top 500ms ease;}
        }
        &.active{
            &:before{opacity: 1;}
            .blog-wrap{
                .blog-arrow{top:-14px;}
            }
            &.show{
                &:before{opacity: 0;}
                .blog-content{opacity: 1;}
            }
        }


        .blog-content{opacity: 0;transition:opacity 500ms ease 500ms;
            .close-button{position: absolute;right:20px;top: 0;width: 28px;height: 28px;cursor:pointer;
                &:before, &:after{content: '';display: block;position: absolute;height: 2px;width: 22px;background-color: #f26522;transform-origin:50% 50%;top:calc(50% - 1px);left:calc(50% - 11px);transition:background-color 300ms ease;}
                &:before{transform:rotate(45deg);}
                &:after{transform:rotate(-45deg);}
                &:hover{
                    &:before, &:after{background-color:#c40707;}
                }
            }
            .blog-slider{float:left;width: 425px;
                .blog-slider-big{margin-bottom: 10px;position: relative;height: 285px;background-color: #838383;
                    .slider-item{position: absolute;width: 100%;height: 100%;display: flex;justify-content:center;align-items:center;opacity: 0;z-index: 0;cursor:pointer;transition:opacity 300ms ease;
                        img{max-height: 100%;}
                        &.active{z-index: 1;opacity: 1;}
                    }
                }
                .blog-slider-small{margin:0 -2px;
                    .slider-item{margin: 0 2px;background-color:#838383;cursor:pointer;
                        .slider-item-wrap{display: block;height: 65px;display: flex;justify-content:center;align-items:center;}
                    }
                }
            }
            .blog-text{float: right;width: calc(100% - 450px);
                h6{font-size: 22px;line-height:26px;color:#4d4d4f;padding-right: 30px;min-height: 35px;font-weight: 500;margin-bottom: 10px;}
                .blog-text-main{font-family:'Proxima Nova', sans-serif;font-size: 16px;color:#4d4d4f;line-height: 20px;}
            }

            .blog-chat{float: left;max-width: 425px;width: 100%;

                .blog-chat-buttons{display: flex;justify-content:space-between;padding-top: 20px;margin-bottom: 25px;
                    .blog-chats-buttons-soc{display: flex;
                        a{display: flex;width: 39px;height: 39px;background-color:#e7e8e9;border:1px solid #a4a6a9;border-radius: 1px;text-decoration: none;align-items:center;justify-content:center;padding: 2px;transition:background-color 300ms ease, border-color 300ms ease;
                            img{max-height: 100%;}
                            &:hover{background-color: #f26522;border-color:#f26522;}
                        }
                    }
                    .blog-chats-retwite{padding: 0 2px;
                        a{display: flex;align-items:center;justify-content:space-arround;height: 39px;padding: 0 8px;border:1px solid #a4a6a9;background-color: #e7e8e9;border-radius: 1px;text-decoration: none;transition:background-color 300ms ease, border-color 300ms ease;
                            img{max-width: 25px;margin-right: 4px;}
                            span{font-size: 16px;color:#4d4d4f;font-family: 'Proxima Nova', sans-serif;}
                            &:hover{background-color: #f26522;border-color:#f26522;}
                        }
                    }
                    .blog-chats-likes{display: flex;justify-content:flex-start;
                        .blog-chats-like{height: 39px;border:1px solid #a4a6a9;border-radius:1px;background-color: #e7e8e9;display: flex;justify-content:center;align-items:center;padding: 2px;transition:background-color 300ms ease, border-color 300ms ease;
                            img{max-height: 100%;}
                            &:hover{background-color: #f26522;border-color:#f26522;}
                            &.minus{
                                img{transform:rotate(180deg);transform-origin:50% 50%;}
                            }
                        }
                        .likes-value{display: flex;height: 39px;border:1px solid #a4a6a9;background-color: #e7e8e9;justify-content:center;align-items:center;min-width: 45px;color:#ff6600;font-size: 16px;font-family:'Proxima Nova', sans-serif;}
                    }
                }

                .blog-chat-form{margin-bottom: 25px;
                    h6{font-size: 19px;font-family: "Proxima Nova", sans-serif;font-weight: 700;margin-bottom: 8px;}
                    form{display: flex;flex-wrap:wrap;justify-content:flex-start;}
                    .user-avatar{width: 50px;height: 50px;margin-right: 10px;}
                    .form-wrap{width: calc(100% - 60px);
                        .form-title{font-size: 19px;font-family: "Proxima Nova", sans-serif;color:#4d4d4f;margin-bottom: 3px;}
                        .form-row{margin-bottom: 6px;
                            &.submit-row{margin-bottom: 0;
                                .submit-row-wrap{display: flex;flex-wrap:wrap;justify-content:space-between;}
                                .submit-button{max-width: 115px;width: 100%;
                                    button{font-size: 19px;font-family: 'Proxima Nova', sans-serif;max-width: none;width: 100%;min-height: 30px;line-height: 29px;padding: 0;}
                                }
                                .load-img{position: relative;
                                    .load-img-button{width: 30px;height: 30px;position: relative;z-index: 1;
                                        input{width: 30px;height: 30px;opacity: 0;font-size: 0;color:transparent;position: relative;top:-10px;}
                                        &:hover{
                                            &+.load-img-placeholder{background-color:#f26522;border-color:#f26522;}
                                        }
                                    }
                                    .load-img-placeholder{width: 30px;height: 30px;background-color:#e7e8e9;border:2px solid #afb0b2;padding: 2px;display: flex;justify-content:center;align-items:center;position: absolute;top:0;right: 0;z-index: 0;transition:background-color 300ms ease, border-color 300ms ease;}
                                }

                            }
                        }
                        .form-input{
                            textarea{width: 100%;resize:none;height: 33px;border:2px solid #acaeb0;font-family: 'Proxima Nova', sans-serif;font-size: 19px;color:#000;padding: 4px 5px 5px 5px;
                                &::-webkit-input-placeholder {font-family:'Proxima Nova', sans-serif;color:#bebebe;font-size: 19px;}
                                &:-moz-placeholder {font-family:'Proxima Nova', sans-serif;color:#bebebe;font-size: 19px;}
                                &::-moz-placeholder {font-family:'Proxima Nova', sans-serif;color:#bebebe;font-size: 19px;}
                                &:-ms-input-placeholder {font-family:'Proxima Nova', sans-serif;color:#bebebe;font-size: 19px;}
                            }
                        }
                    }
                }

                .blog-comments{
                    .blog-comment-item{display: flex;align-items:flex-start;
                        .blog-comment-avatar{width: 50px;height: 50px;margin-right: 10px;}
                        .blog-comment-content{width: calc(100% - 60px);
                            .blog-comment-user-name{font-size:19px;font-family: 'Proxima Nova', sans-serif;color:#4d4d4f;margin-bottom: 5px;}
                            .blog-comment-text{font-size:19px;color:#4d4d4f;font-family: 'Proxima Nova', sans-serif;margin-bottom: 10px;line-height: 23px;}
                            .blog-comment-date{font-size: 13px;font-family:'Proxima Nova', sans-serif;color:#4d4d4f;}
                        }
                    }
                }

            }
        }

    }

/* /blog */