<div class="blog">

    <div class="mbox">

        <div class="news-wrap">

            <div class="news-item">
                <div class="item-wrap">
                    <div class="img">
                        <img src="images/news-img1.jpg" alt="" />
                    </div>
                    <div class="news-text">
                        <h6>Глобал Чайлд групп выступил против жестокого обращения с животными.</h6>
                    </div>
                    <div class="news-footer">

                        <div class="news-footer-left">
                            <div class="likes-info footer-info">
                                <div class="footer-info-text likes-text">
                                    -243
                                </div>
                                <div class="likes-img">
                                    <img src="images/like-img.png" alt="" />
                                </div>
                            </div>
                            <div class="messages-info footer-info">
                                <div class="footer-info-text messages-text">
                                    23
                                </div>
                                <div class="messages-img">
                                    <img src="images/messages-img.png" alt="" />
                                </div>
                            </div>
                            <div class="retwite-info footer-info">
                                <div class="footer-info-text retwite-text">
                                    43
                                </div>
                                <div class="retwite-img">
                                    <img src="images/retwite-img.png" alt="" />
                                </div>
                            </div>
                        </div>

                        <div class="news-right">
                            <div class="news-date">14. 04. 16</div>
                        </div>

                    </div>
                </div>

                <!-- -->

                <div class="blog-main">
                    <div class="blog-wrap">
                        <span class="blog-arrow"></span>
                        <div class="mbox">
                            <div class="blog-content cfix">

                                <div class="close-button"></div>

                                <div class="blog-slider">
                                    <div class="blog-slider-big"></div>
                                </div>

                                <div class="blog-text">
                                    <h6></h6>
                                    <div class="blog-text-main"></div>
                                </div>

                                <div class="blog-chat">

                                    <div class="blog-chat-buttons">

                                        <div class="read-more">
                                            <a href="#" class="button">
                                                <span>Подробнее</span>
                                            </a>
                                        </div>

                                        <!--
                                        <div class="blog-chats-buttons-soc">
                                            <a href="#">
                                                <img src="images/soc-img1.png" alt="" />
                                            </a>
                                            <a href="#">
                                                <img src="images/soc-img2.png" alt="" />
                                            </a>
                                            <a href="#">
                                                <img src="images/soc-img3.png" alt="" />
                                            </a>
                                            <a href="#">
                                                <img src="images/soc-img4.png" alt="" />
                                            </a>
                                            <a href="#">
                                                <img src="images/soc-img5.png" alt="" />
                                            </a>
                                            <a href="#">
                                                <img src="images/soc-img6.png" alt="" />
                                            </a>
                                        </div>
                                        -->

                                        <div class="blog-chats-retwite">
                                            <a href="#" class="blog-chats-retwite-link">
                                                <img src="images/retwite-img.png" alt="" />
                                                <span></span>
                                            </a>
                                        </div>

                                        <div class="blog-chats-likes">
                                            <a href="#" class="blog-chats-like plus" data-type="plus" data-news-id="1">
                                                <img src="images/like-img.png" alt="" />
                                            </a>
                                            <span class="likes-value"></span>
                                            <a href="#" class="blog-chats-like minus" data-type="minus" data-news-id="1">
                                                <img src="images/like-img.png" alt="" />
                                            </a>
                                        </div>

                                    </div>

                                    <div class="blog-chat-form">
                                        <form action="ajax.php" class="blog-form" data-form=0>
                                            <div class="user-avatar">
                                                <img src="images/user-avatar.png" alt="" />
                                            </div>
                                            <div class="form-wrap">
                                                <div class="form-row">
                                                    <div class="form-title">
                                                        <input type="text" name="fio" placeholder="Ваше имя" required="required" />
                                                    </div>
                                                    <div class="form-input">
                                                        <textarea name="user_comment" placeholder="Напишите ваше мнение" required="required"></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-row submit-row">
                                                    <div class="submit-row-wrap">
                                                        <div class="submit-button">
                                                            <button class="button" type="submit">
                                                                <span>Отправить</span>
                                                            </button>
                                                        </div>
                                                        <!--
                                                        <div class="remove-file"></div>
                                                        <div class="load-img">
                                                            <div class="load-img-button">
                                                                <input type="file" name="img_load" accept="image/*" />
                                                            </div>
                                                            <div class="load-img-placeholder">
                                                                <img src="images/load-img-foto.png" alt="" />
                                                            </div>
                                                        </div>
                                                        -->
                                                    </div>
                                                    <div class="load-file-text"></div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                    <div class="blog-comments">

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="news-item">
                <div class="item-wrap">
                    <div class="img">
                        <img src="images/news-img2.jpg" alt="" />
                    </div>
                    <div class="news-text">
                        <h6>Глобал Чайлд групп выступил против жестокого обращения с животными.</h6>
                        <div class="news-text-wrap">
                            <p>Нашим научно-исследовательским отделом создан уникальный подход к управлению в образовании. Разработано более 20 учебных программ на трех языках, которые высоко ценятся специалистами по всему миру.</p>
                        </div>
                    </div>
                    <div class="news-footer">

                        <div class="news-footer-left">
                            <div class="likes-info footer-info">
                                <div class="footer-info-text likes-text">
                                    -243
                                </div>
                                <div class="likes-img">
                                    <img src="images/like-img.png" alt="" />
                                </div>
                            </div>
                            <div class="messages-info footer-info">
                                <div class="footer-info-text messages-text">
                                    23
                                </div>
                                <div class="messages-img">
                                    <img src="images/messages-img.png" alt="" />
                                </div>
                            </div>
                            <div class="retwite-info footer-info">
                                <div class="footer-info-text retwite-text">
                                    43
                                </div>
                                <div class="retwite-img">
                                    <img src="images/retwite-img.png" alt="" />
                                </div>
                            </div>
                        </div>

                        <div class="news-right">
                            <div class="news-date">14. 04. 16</div>
                        </div>

                    </div>
                </div>

                <!-- -->

                <div class="blog-main">
                    <div class="blog-wrap">
                        <span class="blog-arrow"></span>
                        <div class="mbox">
                            <div class="blog-content cfix">

                                <div class="close-button"></div>

                                <div class="blog-slider">
                                    <div class="blog-slider-big"></div>
                                </div>

                                <div class="blog-text">
                                    <h6></h6>
                                    <div class="blog-text-main"></div>
                                </div>

                                <div class="blog-chat">

                                    <div class="blog-chat-buttons">

                                        <div class="read-more">
                                            <a href="#" class="button">
                                                <span>Подробнее</span>
                                            </a>
                                        </div>

                                        <!--
                                        <div class="blog-chats-buttons-soc">
                                            <a href="#">
                                                <img src="images/soc-img1.png" alt="" />
                                            </a>
                                            <a href="#">
                                                <img src="images/soc-img2.png" alt="" />
                                            </a>
                                            <a href="#">
                                                <img src="images/soc-img3.png" alt="" />
                                            </a>
                                            <a href="#">
                                                <img src="images/soc-img4.png" alt="" />
                                            </a>
                                            <a href="#">
                                                <img src="images/soc-img5.png" alt="" />
                                            </a>
                                            <a href="#">
                                                <img src="images/soc-img6.png" alt="" />
                                            </a>
                                        </div>
                                        -->

                                        <div class="blog-chats-retwite">
                                            <a href="#" class="blog-chats-retwite-link">
                                                <img src="images/retwite-img.png" alt="" />
                                                <span></span>
                                            </a>
                                        </div>

                                        <div class="blog-chats-likes">
                                            <a href="#" class="blog-chats-like plus" data-type="plus" data-news-id="2">
                                                <img src="images/like-img.png" alt="" />
                                            </a>
                                            <span class="likes-value"></span>
                                            <a href="#" class="blog-chats-like minus" data-type="minus" data-news-id="2">
                                                <img src="images/like-img.png" alt="" />
                                            </a>
                                        </div>

                                    </div>

                                    <div class="blog-chat-form">
                                        <h6>Комментарий</h6>
                                        <form action="ajax.php" class="blog-form" data-form=1>
                                            <div class="user-avatar">
                                                <img src="images/user-avatar.png" alt="" />
                                            </div>
                                            <div class="form-wrap">
                                                <div class="form-row">
                                                    <div class="form-title">
                                                        <input type="text" name="fio" placeholder="Ваше имя" required="required" />
                                                    </div>
                                                    <div class="form-input">
                                                        <textarea name="user_comment" placeholder="Напишите ваше мнение" required="required"></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-row submit-row">
                                                    <div class="submit-row-wrap">
                                                        <div class="submit-button">
                                                            <button class="button" type="submit">
                                                                <span>Отправить</span>
                                                            </button>
                                                        </div>
                                                        <!--
                                                        <div class="remove-file"></div>
                                                        <div class="load-img">
                                                            <div class="load-img-button">
                                                                <input type="file" name="img_load" accept="image/*" />
                                                            </div>
                                                            <div class="load-img-placeholder">
                                                                <img src="images/load-img-foto.png" alt="" />
                                                            </div>
                                                        </div>
                                                        -->
                                                    </div>
                                                    <div class="load-file-text"></div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                    <div class="blog-comments">

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="news-item">
                <div class="item-wrap">
                    <div class="img">
                        <img src="images/news-img3.jpg" alt="" />
                    </div>
                    <div class="news-text">
                        <h6>Глобал Чайлд групп выступил против жестокого обращения с животными.</h6>
                        <div class="news-text-wrap">
                            <p>Нашим научно-исследовательским отделом создан уникальный подход к управлению в образовании. Разработано более 20 учебных программ на трех языках, которые высоко ценятся специалистами по всему миру.</p>
                        </div>
                    </div>
                    <div class="news-footer">

                        <div class="news-footer-left">
                            <div class="likes-info footer-info">
                                <div class="footer-info-text likes-text">
                                    -243
                                </div>
                                <div class="likes-img">
                                    <img src="images/like-img.png" alt="" />
                                </div>
                            </div>
                            <div class="messages-info footer-info">
                                <div class="footer-info-text messages-text">
                                    23
                                </div>
                                <div class="messages-img">
                                    <img src="images/messages-img.png" alt="" />
                                </div>
                            </div>
                            <div class="retwite-info footer-info">
                                <div class="footer-info-text retwite-text">
                                    43
                                </div>
                                <div class="retwite-img">
                                    <img src="images/retwite-img.png" alt="" />
                                </div>
                            </div>
                        </div>

                        <div class="news-right">
                            <div class="news-date">14. 04. 16</div>
                        </div>

                    </div>
                </div>

                <!-- -->

                <div class="blog-main">
                    <div class="blog-wrap">
                        <span class="blog-arrow"></span>
                        <div class="mbox">
                            <div class="blog-content cfix">

                                <div class="close-button"></div>

                                <div class="blog-slider">
                                    <div class="blog-slider-big"></div>
                                </div>

                                <div class="blog-text">
                                    <h6></h6>
                                    <div class="blog-text-main"></div>
                                </div>

                                <div class="blog-chat">

                                    <div class="blog-chat-buttons">

                                        <div class="read-more">
                                            <a href="#" class="button">
                                                <span>Подробнее</span>
                                            </a>
                                        </div>

                                        <!--
                                        <div class="blog-chats-buttons-soc">
                                            <a href="#">
                                                <img src="images/soc-img1.png" alt="" />
                                            </a>
                                            <a href="#">
                                                <img src="images/soc-img2.png" alt="" />
                                            </a>
                                            <a href="#">
                                                <img src="images/soc-img3.png" alt="" />
                                            </a>
                                            <a href="#">
                                                <img src="images/soc-img4.png" alt="" />
                                            </a>
                                            <a href="#">
                                                <img src="images/soc-img5.png" alt="" />
                                            </a>
                                            <a href="#">
                                                <img src="images/soc-img6.png" alt="" />
                                            </a>
                                        </div>
                                        -->

                                        <div class="blog-chats-retwite">
                                            <a href="#" class="blog-chats-retwite-link">
                                                <img src="images/retwite-img.png" alt="" />
                                                <span></span>
                                            </a>
                                        </div>

                                        <div class="blog-chats-likes">
                                            <a href="#" class="blog-chats-like plus" data-type="plus" data-news-id="3">
                                                <img src="images/like-img.png" alt="" />
                                            </a>
                                            <span class="likes-value"></span>
                                            <a href="#" class="blog-chats-like minus" data-type="minus" data-news-id="3">
                                                <img src="images/like-img.png" alt="" />
                                            </a>
                                        </div>

                                    </div>

                                    <div class="blog-chat-form">
                                        <h6>Комментарий</h6>
                                        <form action="ajax.php" class="blog-form" data-form=2>
                                            <div class="user-avatar">
                                                <img src="images/user-avatar.png" alt="" />
                                            </div>
                                            <div class="form-wrap">
                                                <div class="form-row">
                                                    <div class="form-title">
                                                        <input type="text" name="fio" placeholder="Ваше имя" required="required" />
                                                    </div>
                                                    <div class="form-input">
                                                        <textarea name="user_comment" placeholder="Напишите ваше мнение" required="required"></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-row submit-row">
                                                    <div class="submit-row-wrap">
                                                        <div class="submit-button">
                                                            <button class="button" type="submit">
                                                                <span>Отправить</span>
                                                            </button>
                                                        </div>
                                                        <!--
                                                        <div class="remove-file"></div>
                                                        <div class="load-img">
                                                            <div class="load-img-button">
                                                                <input type="file" name="img_load" accept="image/*" />
                                                            </div>
                                                            <div class="load-img-placeholder">
                                                                <img src="images/load-img-foto.png" alt="" />
                                                            </div>
                                                        </div>
                                                        -->
                                                    </div>
                                                    <div class="load-file-text"></div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                    <div class="blog-comments">

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="news-item">
                <div class="item-wrap">
                    <div class="img">
                        <img src="images/news-img4.jpg" alt="" />
                    </div>
                    <div class="news-text">
                        <h6>Глобал Чайлд групп выступил против жестокого обращения с животными.</h6>
                        <div class="news-text-wrap">
                            <p>Нашим научно-исследовательским отделом создан уникальный подход к управлению в образовании. Разработано более 20 учебных программ на трех языках, которые высоко ценятся специалистами по всему миру.</p>
                        </div>
                    </div>
                    <div class="news-footer">

                        <div class="news-footer-left">
                            <div class="likes-info footer-info">
                                <div class="footer-info-text likes-text">
                                    -243
                                </div>
                                <div class="likes-img">
                                    <img src="images/like-img.png" alt="" />
                                </div>
                            </div>
                            <div class="messages-info footer-info">
                                <div class="footer-info-text messages-text">
                                    23
                                </div>
                                <div class="messages-img">
                                    <img src="images/messages-img.png" alt="" />
                                </div>
                            </div>
                            <div class="retwite-info footer-info">
                                <div class="footer-info-text retwite-text">
                                    43
                                </div>
                                <div class="retwite-img">
                                    <img src="images/retwite-img.png" alt="" />
                                </div>
                            </div>
                        </div>

                        <div class="news-right">
                            <div class="news-date">14. 04. 16</div>
                        </div>

                    </div>
                </div>

                <!-- -->

                <div class="blog-main">
                    <div class="blog-wrap">
                        <span class="blog-arrow"></span>
                        <div class="mbox">
                            <div class="blog-content cfix">

                                <div class="close-button"></div>

                                <div class="blog-slider">
                                    <div class="blog-slider-big"></div>
                                </div>

                                <div class="blog-text">
                                    <h6></h6>
                                    <div class="blog-text-main"></div>
                                </div>

                                <div class="blog-chat">

                                    <div class="blog-chat-buttons">

                                        <div class="read-more">
                                            <a href="#" class="button">
                                                <span>Подробнее</span>
                                            </a>
                                        </div>

                                        <!--
                                        <div class="blog-chats-buttons-soc">
                                            <a href="#">
                                                <img src="images/soc-img1.png" alt="" />
                                            </a>
                                            <a href="#">
                                                <img src="images/soc-img2.png" alt="" />
                                            </a>
                                            <a href="#">
                                                <img src="images/soc-img3.png" alt="" />
                                            </a>
                                            <a href="#">
                                                <img src="images/soc-img4.png" alt="" />
                                            </a>
                                            <a href="#">
                                                <img src="images/soc-img5.png" alt="" />
                                            </a>
                                            <a href="#">
                                                <img src="images/soc-img6.png" alt="" />
                                            </a>
                                        </div>
                                        -->

                                        <div class="blog-chats-retwite">
                                            <a href="#" class="blog-chats-retwite-link">
                                                <img src="images/retwite-img.png" alt="" />
                                                <span></span>
                                            </a>
                                        </div>

                                        <div class="blog-chats-likes">
                                            <a href="#" class="blog-chats-like plus" data-type="plus" data-news-id="4">
                                                <img src="images/like-img.png" alt="" />
                                            </a>
                                            <span class="likes-value"></span>
                                            <a href="#" class="blog-chats-like minus" data-type="minus" data-news-id="4">
                                                <img src="images/like-img.png" alt="" />
                                            </a>
                                        </div>

                                    </div>

                                    <div class="blog-chat-form">
                                        <h6>Комментарий</h6>
                                        <form action="ajax.php" class="blog-form" data-form=3>
                                            <div class="user-avatar">
                                                <img src="images/user-avatar.png" alt="" />
                                            </div>
                                            <div class="form-wrap">
                                                <div class="form-row">
                                                    <div class="form-title">
                                                        <input type="text" name="fio" placeholder="Ваше имя" required="required" />
                                                    </div>
                                                    <div class="form-input">
                                                        <textarea name="user_comment" placeholder="Напишите ваше мнение" required="required"></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-row submit-row">
                                                    <div class="submit-row-wrap">
                                                        <div class="submit-button">
                                                            <button class="button" type="submit">
                                                                <span>Отправить</span>
                                                            </button>
                                                        </div>
                                                        <!--
                                                        <div class="remove-file"></div>
                                                        <div class="load-img">
                                                            <div class="load-img-button">
                                                                <input type="file" name="img_load" accept="image/*" />
                                                            </div>
                                                            <div class="load-img-placeholder">
                                                                <img src="images/load-img-foto.png" alt="" />
                                                            </div>
                                                        </div>
                                                        -->
                                                    </div>
                                                    <div class="load-file-text"></div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                    <div class="blog-comments">

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="news-item">
                <div class="item-wrap">
                    <div class="img">
                        <img src="images/news-img5.jpg" alt="" />
                    </div>
                    <div class="news-text">
                        <h6>Глобал Чайлд групп выступил против жестокого обращения с животными.</h6>
                        <div class="news-text-wrap">
                            <p>Нашим научно-исследовательским отделом создан уникальный подход к управлению в образовании. Разработано более 20 учебных программ на трех языках, которые высоко ценятся специалистами по всему миру.</p>
                        </div>
                    </div>
                    <div class="news-footer">

                        <div class="news-footer-left">
                            <div class="likes-info footer-info">
                                <div class="footer-info-text likes-text">
                                    -243
                                </div>
                                <div class="likes-img">
                                    <img src="images/like-img.png" alt="" />
                                </div>
                            </div>
                            <div class="messages-info footer-info">
                                <div class="footer-info-text messages-text">
                                    23
                                </div>
                                <div class="messages-img">
                                    <img src="images/messages-img.png" alt="" />
                                </div>
                            </div>
                            <div class="retwite-info footer-info">
                                <div class="footer-info-text retwite-text">
                                    43
                                </div>
                                <div class="retwite-img">
                                    <img src="images/retwite-img.png" alt="" />
                                </div>
                            </div>
                        </div>

                        <div class="news-right">
                            <div class="news-date">14. 04. 16</div>
                        </div>

                    </div>
                </div>

                <!-- -->

                <div class="blog-main">
                    <div class="blog-wrap">
                        <span class="blog-arrow"></span>
                        <div class="mbox">
                            <div class="blog-content cfix">

                                <div class="close-button"></div>

                                <div class="blog-slider">
                                    <div class="blog-slider-big"></div>
                                </div>

                                <div class="blog-text">
                                    <h6></h6>
                                    <div class="blog-text-main"></div>
                                </div>

                                <div class="blog-chat">

                                    <div class="blog-chat-buttons">

                                        <div class="read-more">
                                            <a href="#" class="button">
                                                <span>Подробнее</span>
                                            </a>
                                        </div>

                                        <!--
                                        <div class="blog-chats-buttons-soc">
                                            <a href="#">
                                                <img src="images/soc-img1.png" alt="" />
                                            </a>
                                            <a href="#">
                                                <img src="images/soc-img2.png" alt="" />
                                            </a>
                                            <a href="#">
                                                <img src="images/soc-img3.png" alt="" />
                                            </a>
                                            <a href="#">
                                                <img src="images/soc-img4.png" alt="" />
                                            </a>
                                            <a href="#">
                                                <img src="images/soc-img5.png" alt="" />
                                            </a>
                                            <a href="#">
                                                <img src="images/soc-img6.png" alt="" />
                                            </a>
                                        </div>
                                        -->

                                        <div class="blog-chats-retwite">
                                            <a href="#" class="blog-chats-retwite-link">
                                                <img src="images/retwite-img.png" alt="" />
                                                <span></span>
                                            </a>
                                        </div>

                                        <div class="blog-chats-likes">
                                            <a href="#" class="blog-chats-like plus" data-type="plus" data-news-id="5">
                                                <img src="images/like-img.png" alt="" />
                                            </a>
                                            <span class="likes-value"></span>
                                            <a href="#" class="blog-chats-like minus" data-type="minus" data-news-id="5">
                                                <img src="images/like-img.png" alt="" />
                                            </a>
                                        </div>

                                    </div>

                                    <div class="blog-chat-form">
                                        <h6>Комментарий</h6>
                                        <form action="ajax.php" class="blog-form" data-form=4>
                                            <div class="user-avatar">
                                                <img src="images/user-avatar.png" alt="" />
                                            </div>
                                            <div class="form-wrap">
                                                <div class="form-row">
                                                    <div class="form-title">
                                                        <input type="text" name="fio" placeholder="Ваше имя" required="required" />
                                                    </div>
                                                    <div class="form-input">
                                                        <textarea name="user_comment" placeholder="Напишите ваше мнение" required="required"></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-row submit-row">
                                                    <div class="submit-row-wrap">
                                                        <div class="submit-button">
                                                            <button class="button" type="submit">
                                                                <span>Отправить</span>
                                                            </button>
                                                        </div>
                                                        <!--
                                                        <div class="remove-file"></div>
                                                        <div class="load-img">
                                                            <div class="load-img-button">
                                                                <input type="file" name="img_load" accept="image/*" />
                                                            </div>
                                                            <div class="load-img-placeholder">
                                                                <img src="images/load-img-foto.png" alt="" />
                                                            </div>
                                                        </div>
                                                        -->
                                                    </div>
                                                    <div class="load-file-text"></div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                    <div class="blog-comments">

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="navigation">

                <ol class="wp-paginate">
                    <li>
                        <span class="title">Pages:</span>
                    </li>
                    <li>
                        <a href="#" class="prev">«</a>
                    </li>
                    <li>
                        <span class="page current">1</span>
                    </li>
                    <li>
                        <a href="#" class="page">2</a>
                    </li>
                    <li>
                        <a href="#" class="page">3</a>
                    </li>
                    <li>
                        <a href="#" class="next">»</a>
                    </li>
                </ol>
            </div>

        </div>

    </div>

</div>