<div class="blog">

    <div class="mbox">

        <div class="news-wrap">

            <div class="news-item">
                <div class="img">
                    <img src="images/news-img1.jpg" alt="" />
                </div>
                <div class="news-text">
                    <h6>Глобал Чайлд групп выступил против жестокого обращения с животными.</h6>
                </div>
                <div class="news-footer">

                    <div class="news-footer-left">
                        <div class="likes-info">
                            <span class="likes-text">
                                -243
                            </span>
                            <div class="likes-img">
                                <img src="images/like-img.png" alt="" />
                            </div>
                        </div>
                        <div class="messages-info">
                            <span class="messages-text">
                                23
                            </span>
                            <div class="messages-img">
                                <img src="images/messages-img.png" alt="" />
                            </div>
                        </div>
                        <div class="retwite-info">
                            <div class="retwite-text">
                                43
                            </div>
                            <div class="retwite-img">
                                <img src="images/retwite-img.png" alt="" />
                            </div>
                        </div>
                    </div>

                    <div class="news-right">
                        <div class="news-date">14. 04. 16</div>
                    </div>

                </div>
            </div>

            <div class="news-item">
                <div class="img">
                    <img src="images/news-img2.jpg" alt="" />
                </div>
                <div class="news-text">
                    <h6>Глобал Чайлд групп выступил против жестокого обращения с животными.</h6>
                    <div class="news-text-wrap">
                        <p>Нашим научно-исследовательским отделом создан уникальный подход к управлению в образовании. Разработано более 20 учебных программ на трех языках, которые высоко ценятся специалистами по всему миру.</p>
                    </div>
                </div>
                <div class="news-footer">

                    <div class="news-footer-left">
                        <div class="likes-info">
                            <span class="likes-text">
                                -243
                            </span>
                            <div class="likes-img">
                                <img src="images/like-img.png" alt="" />
                            </div>
                        </div>
                        <div class="messages-info">
                            <span class="messages-text">
                                23
                            </span>
                            <div class="messages-img">
                                <img src="images/messages-img.png" alt="" />
                            </div>
                        </div>
                        <div class="retwite-info">
                            <div class="retwite-text">
                                43
                            </div>
                            <div class="retwite-img">
                                <img src="images/retwite-img.png" alt="" />
                            </div>
                        </div>
                    </div>

                    <div class="news-right">
                        <div class="news-date">14. 04. 16</div>
                    </div>

                </div>
            </div>

            <div class="news-item">
                <div class="img">
                    <img src="images/news-img3.jpg" alt="" />
                </div>
                <div class="news-text">
                    <h6>Глобал Чайлд групп выступил против жестокого обращения с животными.</h6>
                    <div class="news-text-wrap">
                        <p>Нашим научно-исследовательским отделом создан уникальный подход к управлению в образовании. Разработано более 20 учебных программ на трех языках, которые высоко ценятся специалистами по всему миру.</p>
                    </div>
                </div>
                <div class="news-footer">

                    <div class="news-footer-left">
                        <div class="likes-info">
                            <span class="likes-text">
                                -243
                            </span>
                            <div class="likes-img">
                                <img src="images/like-img.png" alt="" />
                            </div>
                        </div>
                        <div class="messages-info">
                            <span class="messages-text">
                                23
                            </span>
                            <div class="messages-img">
                                <img src="images/messages-img.png" alt="" />
                            </div>
                        </div>
                        <div class="retwite-info">
                            <div class="retwite-text">
                                43
                            </div>
                            <div class="retwite-img">
                                <img src="images/retwite-img.png" alt="" />
                            </div>
                        </div>
                    </div>

                    <div class="news-right">
                        <div class="news-date">14. 04. 16</div>
                    </div>

                </div>
            </div>

            <div class="news-item">
                <div class="img">
                    <img src="images/news-img4.jpg" alt="" />
                </div>
                <div class="news-text">
                    <h6>Глобал Чайлд групп выступил против жестокого обращения с животными.</h6>
                    <div class="news-text-wrap">
                        <p>Нашим научно-исследовательским отделом создан уникальный подход к управлению в образовании. Разработано более 20 учебных программ на трех языках, которые высоко ценятся специалистами по всему миру.</p>
                    </div>
                </div>
                <div class="news-footer">

                    <div class="news-footer-left">
                        <div class="likes-info">
                            <span class="likes-text">
                                -243
                            </span>
                            <div class="likes-img">
                                <img src="images/like-img.png" alt="" />
                            </div>
                        </div>
                        <div class="messages-info">
                            <span class="messages-text">
                                23
                            </span>
                            <div class="messages-img">
                                <img src="images/messages-img.png" alt="" />
                            </div>
                        </div>
                        <div class="retwite-info">
                            <div class="retwite-text">
                                43
                            </div>
                            <div class="retwite-img">
                                <img src="images/retwite-img.png" alt="" />
                            </div>
                        </div>
                    </div>

                    <div class="news-right">
                        <div class="news-date">14. 04. 16</div>
                    </div>

                </div>
            </div>


            <div class="news-item">
                <div class="img">
                    <img src="images/news-img5.jpg" alt="" />
                </div>
                <div class="news-text">
                    <h6>Глобал Чайлд групп выступил против жестокого обращения с животными.</h6>
                    <div class="news-text-wrap">
                        <p>Нашим научно-исследовательским отделом создан уникальный подход к управлению в образовании. Разработано более 20 учебных программ на трех языках, которые высоко ценятся специалистами по всему миру.</p>
                    </div>
                </div>
                <div class="news-footer">

                    <div class="news-footer-left">
                        <div class="likes-info">
                            <span class="likes-text">
                                -243
                            </span>
                            <div class="likes-img">
                                <img src="images/like-img.png" alt="" />
                            </div>
                        </div>
                        <div class="messages-info">
                            <span class="messages-text">
                                23
                            </span>
                            <div class="messages-img">
                                <img src="images/messages-img.png" alt="" />
                            </div>
                        </div>
                        <div class="retwite-info">
                            <div class="retwite-text">
                                43
                            </div>
                            <div class="retwite-img">
                                <img src="images/retwite-img.png" alt="" />
                            </div>
                        </div>
                    </div>

                    <div class="news-right">
                        <div class="news-date">14. 04. 16</div>
                    </div>

                </div>
            </div>

        </div>

    </div>

</div>