<div class="blog-main blog-inside">
    <div class="blog-wrap">
        <div class="mbox">
            <div class="blog-content">

                <div class="blog-slider">

                    <div class="blog-slider-big">
                        <div class="slider-item">
                            <img src="images/news-img1.jpg" alt="" />
                        </div>
                        <div class="slider-item">
                            <img src="images/news-img2.jpg" alt="" />
                        </div>
                        <div class="slider-item">
                            <img src="images/news-img3.jpg" alt="" />
                        </div>
                        <div class="slider-item">
                            <img src="images/news-img4.jpg" alt="" />
                        </div>
                        <div class="slider-item">
                            <img src="images/news-img5.jpg" alt="" />
                        </div>
                    </div>

                    <div class="blog-slider-small">
                        <div class="slider-item">
                            <img src="images/news-img1.jpg" alt="" />
                        </div>
                        <div class="slider-item">
                            <img src="images/news-img2.jpg" alt="" />
                        </div>
                        <div class="slider-item">
                            <img src="images/news-img3.jpg" alt="" />
                        </div>
                        <div class="slider-item">
                            <img src="images/news-img4.jpg" alt="" />
                        </div>
                        <div class="slider-item">
                            <img src="images/news-img5.jpg" alt="" />
                        </div>
                    </div>

                </div>

                <div class="blog-text">
                    <h6>Глобал Чайлд групп выступил против жестокого обращения с животными.</h6>
                    <div class="blog-text-main">
                        <p>Эксперты Global Child Group взяли интервью у телепузиков. В ходе разговора прозвучало мнение, что чем больше мы детей меньше, тем меньше они из тарелки. Поэтому за столом хороша не только ложка, но и танцы с бубном, песни под волынку, а также хорошая оплеуха.</p>
                        <p>Эксперты из Всемирной лиги защиты детей присоединились ко мнению телепузиков. В результате возникла идея организовать конкурс «Накорми свое чадо».</p>
                        <p>По всем вопросам участия обращайтесь по телефонам 222-33-44, 555-66-77.</p>
                        <p>Эксперты Global Child Group взяли интервью у телепузиков. В ходе разговора прозвучало мнение, что чем больше мы детей меньше, тем меньше они из тарелки. Поэтому за столом хороша не только ложка, но и танцы с бубном, песни под волынку, а также хорошая оплеуха.</p>
                        <p>Эксперты из Всемирной лиги защиты детей присоединились ко мнению телепузиков. В результате возникла идея организовать конкурс «Накорми свое чадо».</p>
                        <p>По всем вопросам участия обращайтесь по телефонам 222-33-44, 555-66-77.</p><p>Эксперты Global Child Group взяли интервью у телепузиков. В ходе разговора прозвучало мнение, что чем больше мы детей меньше, тем меньше они из тарелки. Поэтому за столом хороша не только ложка, но и танцы с бубном, песни под волынку, а также хорошая оплеуха.</p>
                        <p>Эксперты из Всемирной лиги защиты детей присоединились ко мнению телепузиков. В результате возникла идея организовать конкурс «Накорми свое чадо».</p>
                        <p>По всем вопросам участия обращайтесь по телефонам 222-33-44, 555-66-77.</p>
                    </div>
                </div>

                <div class="blog-chat">

                    <div class="blog-chat-buttons">

                        <div class="blog-chats-buttons-soc">
                            <a href="#">
                                <img src="images/soc-img1.png" alt="" />
                            </a>
                            <a href="#">
                                <img src="images/soc-img2.png" alt="" />
                            </a>
                            <a href="#">
                                <img src="images/soc-img3.png" alt="" />
                            </a>
                            <a href="#">
                                <img src="images/soc-img4.png" alt="" />
                            </a>
                            <a href="#">
                                <img src="images/soc-img5.png" alt="" />
                            </a>
                            <a href="#">
                                <img src="images/soc-img6.png" alt="" />
                            </a>
                        </div>

                        <div class="blog-chats-retwite">
                            <a href="#" class="blog-chats-retwite-link">
                                <img src="images/retwite-img.png" alt="" />
                                <span></span>
                            </a>
                        </div>

                        <div class="blog-chats-likes">
                            <a href="#" class="blog-chats-like plus" data-type="plus" data-news-id="1">
                                <img src="images/like-img.png" alt="" />
                            </a>
                            <span class="likes-value"></span>
                            <a href="#" class="blog-chats-like minus" data-type="minus" data-news-id="1">
                                <img src="images/like-img.png" alt="" />
                            </a>
                        </div>

                    </div>

                    <div class="blog-chat-form">
                        <h6>Комментарий</h6>
                        <form action="ajax.php" class="blog-form" data-form=0>
                            <div class="user-avatar">
                                <img src="images/user-avatar.png" alt="" />
                            </div>
                            <div class="form-wrap">
                                <div class="form-row">
                                    <div class="form-title">
                                        <input type="text" name="fio" placeholder="Ваше имя" required="required" />
                                    </div>
                                    <div class="form-input">
                                        <textarea name="user_comment" placeholder="Напишите ваше мнение" required="required"></textarea>
                                    </div>
                                </div>
                                <div class="form-row submit-row">
                                    <div class="submit-row-wrap">
                                        <div class="submit-button">
                                            <button class="button" type="submit">Отправить</button>
                                        </div>
                                        <!--
                                        <div class="remove-file"></div>
                                        <div class="load-img">
                                            <div class="load-img-button">
                                                <input type="file" name="img_load" accept="image/*" />
                                            </div>
                                            <div class="load-img-placeholder">
                                                <img src="images/load-img-foto.png" alt="" />
                                            </div>
                                        </div>
                                        -->
                                    </div>
                                    <div class="load-file-text"></div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="blog-comments">

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>