<!-- FOOTER -->
<div class="footer_placeholder"></div>
<footer class="footer">

    <div class="mbox">
        <div class="footer-wrap">
            <div class="footer-main">
                <div class="footer-content">
                    <div class="footer-text">Следите за новостями Global Child Group</div>
                    <div class="footer-button">
                        <a href="#" class="button">
                            <span>Подписаться на новости</span>
                        </a>
                    </div>
                </div>
                <div class="footer-socials">
                    <div class="footer-socials-text">Читайте нас</div>
                    <div class="footer-socials-items">
                        <a href="#">
                            <img src="images/footer-socials-img1.png" alt="" />
                        </a>
                        <a href="#">
                            <img src="images/footer-socials-img2.png" alt="" />
                        </a>
                        <a href="#">
                            <img src="images/footer-socials-img3.png" alt="" />
                        </a>
                        <a href="#">
                            <img src="images/footer-socials-img4.png" alt="" />
                        </a>
                        <a href="#">
                            <img src="images/footer-socials-img5.png" alt="" />
                        </a>
                        <a href="#">
                            <img src="images/footer-socials-img6.png" alt="" />
                        </a>
                    </div>
                </div>
            </div>

            <div class="go-top-button cameback-link">
                <a href="#">
                    <div class="go-top-arrow">
                        <img src="images/cameback-arrow.png" alt="" />
                    </div>
                    <div class="go-top-text">Вернуться</div>
                </a>
            </div>

        </div>
    </div>

</footer>
<!-- FOOTER -->

<!-- SCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="js/validate_script.js" ></script>
<script type="text/javascript" src="js/main.js" ></script>
<!-- /SCRIPTS -->
