@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1024px){

}
@media screen and (max-width: 992px){

}
@media screen and (max-width: 860px){

    /* blog */

        .blog-main{
            .blog-content{
                .blog-slider, .blog-text, .blog-chat{float: none;max-width: 425px;margin: 0 auto;width: 100%;}
                .blog-slider{margin-bottom: 20px;}
            }
        }

    /* /blog */

    /* blog-page */

        .blog-main.blog-inside .blog-content .blog-slider{margin: 0 auto;}

    /* /blog-page */

}
@media screen and (max-width: 767px){

    /* header */

        .header{
            .header-top{
                .header-top-wrap{display: block;
                    .header-logo, .header-connect{margin: 0 auto 20px auto;text-align: center;}
                }
            }
        }

    /* /header */

    /* blog */

        .blog{
            .news-wrap{
                .news-item{width: calc(50% - 18px);}
            }
        }

    /* /blog */

}
@media screen and (max-width: 666px){

    /* footer */

        .footer{
            .footer-wrap{padding-bottom: 150px;width: 100%;
                .footer-main{margin:0 auto;}
                .go-top-button{right: calc(50% - 100px);}
            }
        }

    /* /footer */

}
@media screen and (max-width: 479px){

    /* button */

        .button{font-size:20px;}

    /* /button */

    /* header */

        .header{
            .header-bottom{font-size: 16px;}
        }

    /* /header */

    /* blog */

        .blog{
            .news-wrap{
                .news-item{width: calc(100% - 18px);}
            }
        }
        .blog-main{
            .blog-content{
                .blog-chat{
                    .blog-chat-buttons{flex-wrap:wrap;justify-content:space-around;
                        .blog-chats-buttons-soc, .blog-chats-retwite{margin-bottom: 5px;}
                        .blog-chats-retwite{padding: 0;}
                    }
                    .blog-comments{
                        .blog-comment-item{display: block;
                            .blog-comment-avatar{float: left;}
                            .blog-comment-content{width: 100%;}
                        }
                    }
                    .blog-chat-form{
                        .form-wrap{
                            .form-input{
                                textarea{
                                    &::-webkit-input-placeholder{font-size: 16px;}
                                    &:-moz-placeholder {font-size: 16px;}
                                    &::-moz-placeholder {font-size: 16px;}
                                    &:-ms-input-placeholder {font-size: 16px;}
                                }
                            }
                        }
                    }
                }
            }
        }

    /* /blog */

    /* footer */

        .footer{
            .footer-wrap{
                .footer-main{justify-content:center;
                    .footer-socials{display: block;
                        .footer-socials-text{text-align: center;margin-bottom: 10px;}
                        .footer-socials-items{width: 100%}
                    }
                }
                .go-top-button{right: calc(50% - 50px);}
            }
        }

    /* /footer */

}
@media screen and (max-width: 320px){

}